* {
	background-image: none;
	box-shadow: none;
}

window {
	background-color: rgba(0,0,0,0.5);
  border-radius:15px;
  border:2px;
}

button {
  margin:4px;
    border-radius: 15px;
    border-color: black;
  	text-decoration-color: #4d94eb;
    color: #4d94eb;
	background-color: #191e30;
	border-style: solid;
	border-width: 0px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 15%;
  font-size:20px;
  font-weight:900;
  font-family:"Fira Code";
}

button:hover {
	background-color: #5e3c99;
  color : #e667dd;

	outline-style: none;
}

#lock {
    background-image: image(url("/usr/share/wlogout/icons/lock.png"), url("/usr/local/share/wlogout/icons/lock.png"));
}

#logout {
    background-image: image(url("/usr/share/wlogout/icons/logout.png"), url("/usr/local/share/wlogout/icons/logout.png"));
}

#suspend {
    background-image: image(url("/usr/share/wlogout/icons/suspend.png"), url("/usr/local/share/wlogout/icons/suspend.png"));
}

#hibernate {
    background-image: image(url("/usr/share/wlogout/icons/hibernate.png"), url("/usr/local/share/wlogout/icons/hibernate.png"));
}

#shutdown {
    background-image: image(url("/usr/share/wlogout/icons/shutdown.png"), url("/usr/local/share/wlogout/icons/shutdown.png"));
}

#reboot {
    background-image: image(url("/usr/share/wlogout/icons/reboot.png"), url("/usr/local/share/wlogout/icons/reboot.png"));
}
